<div class="center">
    <h2 class="header">Let's Play!</h2>
    <span class="black-text">One place where you can play with Twitter REST API.</span>
</div>    
<div class="row">
    <div class="col s12 m4">
        <div class="center promo">
            <a href="operation/new"><i class="material-icons">edit</i>
            <p class="promo-caption">Tweet with me</p></a>
            <p class="medium center">Tweet with your handle</p>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="center promo">
            <a href="operation/repost"><i class="material-icons">transform</i>
            <p class="promo-caption">Re-Tweet the Last</p></a>
            <p class="medium center">Re-Tweet the last tweet of any handle</p>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="center promo">
            <a href="operation/htrepost"><i class="material-icons">local_activity</i>
            <p class="promo-caption">Hashtag Re-Tweet</p></a>
            <p class="medium center">Re-Tweet the tweet containing a specific hashtag of any handle</p>
        </div>
    </div>
</div>

