<nav>
    <div class="nav-wrapper">
      <a href="<% link_to 'Home', root_path %>" class="brand-logo">Let's Play</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li></li>
        <li></li>
      </ul>
    </div>
</nav>
